<STYLE>
BODY
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6495ED;
    scrollbar-3d-light-color: #ffffff;
    scrollbar-arrow-color: #6495ED;
    scrollbar-base-color: #6495ED;
    scrollbar-dark-shadow-color: #6495ED;
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #6495ED;
    scrollbar-shadow-color: #6495ED
}
A:link
{
    COLOR: #6495ED
}
A:visited
{
    COLOR: #6495ED
}
A:hover
{
    COLOR: #ff0000
}
A:active
{
    COLOR: #ff0000
}
TD
{
    COLOR: #6495ED;
    FONT-SIZE: 14px
}
TD A:link
{
    COLOR: #6495ED
}
TD A:hover
{
    COLOR: #ff0000
}
TD A:active
{
    COLOR: #ff0000
}
.footer
{
    FONT-SIZE: 0.8em
}
.backgr
{
    BACKGROUND-COLOR: #6495ED;
    COLOR: #ffffff
}
.backgr A:active
{
    COLOR: #ff0000
}
.backgr A:hover
{
    COLOR: #ff0000
}
.backgr A:link
{
    COLOR: #ffffff
}
.backwh
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6495ED
}
.backwh A:active
{
    COLOR: #ff0000
}
.backwh A:hover
{
    COLOR: #ff0000
}
.backwh A:link
{
    COLOR: #6495ED
}
.text
{
    COLOR: #333333;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 1.2em
}
.title
{
    BACKGROUND-COLOR: #6495ED;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px;
    COLOR: #ffffff;
    FLOAT: none;
    FONT-SIZE: 1.2em;
    FONT-WEIGHT: bold;
    MARGIN: 10px 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    WIDTH: 100%
}
B
{
    FONT-WEIGHT: bold
}
.red
{
    COLOR: #ff0000
}
.backgy
{
    BACKGROUND-COLOR: #cccccc;
    COLOR: #ffffff
}
TD.list
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6495ED;
    FONT-SIZE: 0.8em
}
.txtgr
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #6495ED;
    LINE-HEIGHT: 1.4em
}
.txtgy
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #666666;
    LINE-HEIGHT: 1.4em
}
.preparation
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px;
    COLOR: #ffffff;
    FLOAT: none;
    FONT-SIZE: 1.2em;
    FONT-WEIGHT: bold;
    MARGIN: 10px 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    WIDTH: 100%
}
TD.listpp
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #cccccc;
    FONT-SIZE: 0.8em
}
.big
{
    FONT-SIZE: 1.2em
}
.small
{
    FONT-SIZE: 0.9em
}
.smallold
{
    FONT-SIZE: 1em
}

.bg14
{
    FONT-SIZE: 1.4em
}
.backgy2
{
    BACKGROUND-COLOR: #666666;
    COLOR: #ffffff
}
.coution
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #ff0000;
    FONT-WEIGHT: bold
}
.backgy3
{
    BACKGROUND-COLOR: #999999;
    COLOR: #000000
}
.small09
{
    FONT-SIZE: 0.9em
}
.secret
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #cccccc;
    FONT-SIZE: 0.7em
}
.secret A:active
{
    COLOR: #ff0000
}
.secret A:hover
{
    COLOR: #ff0000
}
.secret A:link
{
    COLOR: #cccccc
}
.secret A:visited
{
    COLOR: #cccccc
}
.txtgy2
{
    COLOR: #666666;
    LINE-HEIGHT: 1.4em
}


/*--------------------*/
/*横位置調節          */
/*--------------------*/
.space1
{
      margin-top   : 0.5em;
      margin-left  : 1.5em;
      margin-right : 0.2em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
}
.space2
{
      margin-top   : 0.5em;
      margin-left  : 2.5em;
      margin-right : 5em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
}
.space3
{
      margin-top   : 0.5em;
      margin-left  : 4em;
      margin-right : 5em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
}
.space4
{
      margin-top   : 0.5em;
      margin-left  : 5em;
      margin-right : 5em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
}

/*--------------------*/
/*タイトル部の書式指定*/
/*--------------------*/
H1, H2, H3, H4, H5, H6 { color: #6495ED }
H1 {
      background     : #DFD;
      padding-left   : 0.2em;
      padding-top    : 0.3em;
      padding-bottom : 0.2em;
      border-width   : 0em 0em 0em 1em;
      border-style   : none none none solid;
      border-color   : #6495ED;
}
H1 EM { text-shadow: Blue 5 5 5 }
H2 {
      FONT-SIZE    : 1.4em;
      margin-top   : 0.5em;
      margin-left  : 0.2em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
      border-width : 0em 0em 0.1em 0.1em;
      border-style : none none solid solid;
      border-color : #6495ED;
}
H3 {
      margin-top   : 0.5em;
      margin-left  : 0.4em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
      border-width : 0em 0em 0.1em 0em;
      border-style : none none none none;
      border-color : #6495ED;
}
H4 {
      margin-top   : 0.5em;
      margin-left  : 0.6em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
      border-width : 0em 0em 0.1em 0em;
      border-style : none none none none;
      border-color : #6495ED;
}
H5 {
      margin-top   : 0.5em;
      margin-left  : 0.8em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
      border-width : 0em 0em 0.1em 0em;
      border-style : none none none none;
      border-color : #6495ED;
}
H6 {
      margin-top   : 0.5em;
      margin-left  : 1.0em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
      border-width : 0em 0em 0.1em 0em;
      border-style : none none none none;
      border-color : #6495ED;
}

/*----------------------------*/
/*引用部のボックススタイル指定*/
/*----------------------------*/
PRE { 
      background     : #E0FFFF;
      border-color   : #6495ED;
      border-width   : thin;
      border-style   : solid;
      margin-right   : 5em;
      margin-left    : 0.5em;
      padding-top    : 1em;
      padding-bottom : 1em;
      padding-left   : 0.5em;
      padding-right  : 1em;
}

.PointsArea { 
      border-style   : none;
      background   : #FFF;
      margin-top   : 0.5em;
      margin-left  : 2.5em;
      margin-right : 20em;
      padding-top  : 0em;
      padding-left : 0em;
}
.SourceArea { 
      text-decoration : none;
      font-style      : Normal;
      color           : #CCF;
      background   : #000;
      border-color : #5BB;
      margin-top   : 0.5em;
      margin-left  : 2.5em;
      margin-right : 10em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
}
.ResultArea { 
      background   : #DDF;
      border-color : #55B;
}

.Noumal {
      background     : #EEE;
      border-color   : Brack;
}

/*------------------*/
/*強調部のクラス分け*/
/*------------------*/
STRONG.KeyWord { color : #933 }
STRONG.Notice { 
      text-decoration : underline;
      color           : #933
}
EM.Notice { 
      text-decoration : underline;
      font-style      : Normal;
}
CODE { 
      text-decoration : none;
      font-style      : Normal;
      color           : #CCF;
}

UL
{
      margin-top   : 0.4em;
      margin-left  : 1.0em;
      margin-right : 0.2em;
      padding-top  : 0.1em;
      padding-left : 0.2em;
    LINE-HEIGHT: 1.6em
}
LI
{

    LINE-HEIGHT: 1.6em
}

DT
{
    FONT-WEIGHT: bold
}

